*{
    font-size: 25PX;
}
h3{
    text-decoration: underline;
}



ol{
    list-style-type: circle;
}


ol li {
    color: blue;
}




ul  span {
    font-weight: bold;
}


ul a{
    color:red ;
}


  p2 a {
    background-color: yellow;
color: rgb(68, 15, 15);

}



p a{
    color:orange
}



 p > span{
color: blue;
}






