* {
  text-align: left;
}

h3 {
  font-size: 10px;
  position: relative;
  top: 2px;
  left: 9px;
}

.container {
  background: ivory;
  border-right: 3px solid rgb(0, 0, 0);
  margin-left: 25px;
  width: 500px;
  height: 40vh;
}

.table {
  position: relative;
  left: 35px;
}

.table p {
  background: rgb(232, 232, 232);
  padding: 0;
  margin: 0px 30px 50px -25px;
  font-size: 12px;
  float: left;
  width: 28.5%;
  height: 190px;
}

.table  .p3 {
  background: rgb(232, 232, 232);
  padding: 0;
  margin: 0px 30px 50px -25px;
  font-size: 12px;
  float: left;
  width: 28.5%;
  height: 100px;
}

p {
  padding: 10px;
  font-size: 12px;
}

#box {
  width: 475px;
  height: 25px;
  overflow-y: scroll;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 12px;
  font-weight: bold;
  background: #fffff0;
  position: relative;
  bottom: 7px;
  left: 5px;
}

.background {
  position: absolute;
  top: 90px;
  background: ivory;
  height: 60px;
}
